*{
    font-family: consolas;
}

body{
    padding: 40px;
    background-color: black;
}

h1{
    text-align: center;
    color: green;
    font-weight:100;
}

p{
    text-align: justify;
    color: green;
    font-weight:100;
}   